.background    { background: rgb(75, 173, 229);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: blue; }
.wall          { background: brown;   }
.floater       { background: white;   }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
